/* CSS declarations go here */
body { color: #AAA; font-family: Vollkorn; font-size: 120%; line-height: 120%; }

img { max-width: 100%; width: 100%; }
td { padding: 0.3em; color: #AAA;}
tr {color: #AAA; border-bottom: 2px solid #FFDC00; border-top: 2px solid #FFDC00; border-collapse: collapse;}​
th { color: #AAA; background-color: #F0F0F0; }
table { margin: .5em auto .5em auto; }
hr { border: none; border-top: 1px solid #FFDC00; width: 33%; }

.fb-page { 
    margin-left: 35.2%;
    padding: 10px;
    background: #272721;
    border: 2px solid #FFDC00;
    margin-bottom: 10px;
}

.site-footer {
    text-align: center;
    max-height: 100%;
    height: 100%;
    background-color: #272721;
    color: #AAA;
    padding-top: 5px;
    margin-top: -7px;
}

.img { display: inline-block; }
.centered { text-align: center; }

#directions { margin: auto; width: 700px; }
#content { width: 100%; }
#map-canvas { border: 2px solid #AAA; margin: auto; width: 700px; height: 700px; margin-bottom: 12px;}

a { text-decoration: none; }
a:visited { color: #AAA; }
a:hover { color: #FFDC00; }
a:active { text-shadow: -4px -4px #000000; }
