/* CSS declarations go here */
html { position: relative; min-height: 100% }
body { color: black; font-family: Vollkorn; font-size: 120%; line-height: 120%; margin-left: 15%; margin-right: 15%; background-image: url('../img/wood_panelling.jpg');}
img { max-width: 100%; width: 100%; }
td { padding: 0.3em; width: 20%;}
table { margin: .5em auto .5em auto; }
hr { border: none; border-top: 1px solid #FFDC00; width: 33%; }

.large-4.columns { float: right; }
.fancy-font {display: inline-block; color: #990000; font-size: 72px; font-family: brush script mt;}
.strong-font {display: inline-block; color: #000000; font-size: 56px; font-family: superclarendon;}

.description { display: none; background: white; opacity: .5; position: absolute; margin: 0 auto; }

#store-name { text-align: center; margin-bottom: -35px;}
#info { width: 600px; display: inline-block; text-align: center;}
#hours { padding: 5px; border: 2px solid #FFDC00; margin-bottom: 10px; background: rgba(255, 255, 255, 0.7);}
#directions-map { border: 2px solid #FFDC00; padding: 20px; background: rgba(255, 255, 255, 0.7);}
#content { width: 100%; }
#map-canvas { width: 560px; height: 500px; }
#product-wrapper { display: inline-block; }
#reorder { width: 100%; text-align: center; color: #AAA; }
#fb-link { padding: 5px; text-align: center;}


a { text-decoration: none; }
a:visited { color: #FFDC00; }
a:hover { color: #FFDC00; }
a:active { color: #990000; }

