<div id="product-wrapper">
  <p>This is not a comprehensive list. Call in for pricing: (260) 749-7444.</p>

  <% @products.each do |product| %>
    <div class="small-4 columns">
      <%= product.name %><br>
      <%= product.category %><br>
      <img src="<%= product.photo_path %>">
    </div>

  <% end %>
</div>

<script src="/js/products.js"></script>
