
<div id="product-wrapper">

<p>This is not a comprehensive list. Call in for pricing: (260) 749-7444.</p>

<div id="reorder">
  <a id="product" href="/products/index">alphabetical</a> | 
  <a id="category" href="/products/category">category</a>
</div>

  <% @products.each do |product| %>
    <div class="small-4 columns">
      <%= product.name %><br>
      <div class="description"><%= product.category %><br><%=product.description%></div>
      <img src="<%= product.photo_path %>">
    </div>
  <% end %>
</div>

<script src="/js/products.js"></script>
