<form action='/contact' method='POST'>
  <label>Email</label><br>
  <input type="text" name="email" placeholder="optional"><br>
  <label>Name</label><br>
  <input type="text" name="name" placeholder="optional"><br>
  <label>Your message</label><br>
  <textarea rows='5' cols='50' name='comment' placeholder='comment'></textarea></textarea><br>
  <input type='submit'>
</form>