<div id="info">
  We are closed most National Holidays. Our phone number is (260) 749-7444. We do take orders (they're preferred for large orders).
  <table>
    <tr><td>Mon - Fri</td><td>9am - 6pm</td></tr>
    <tr><td>Sat</td><td>9am - 4pm</td></tr>
    <tr><td>Sun</td><td>closed</td></tr>
  </table>

</div>
