<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/foundation-essentials-5.5.2/css/foundation.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <!-- Load Google Map api -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- replace favicon -->
  <link rel="shortcut icon" href="/kens_k_logo_32x32.png">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Ken's Meat Market</title>
</head>
<body>
  <header>
    
  </header>
  <div id="content">
    <%= yield %>
  </div>
  <footer class="site-footer">
    <table>
      <tr><td><a href="/specials">specials</a></td><td><a href="/info">info</a></td></tr></table>
    <table><tr><td><a href="/map">map</a></td><td><a href="/products/index">products</a></td><td><a href="/">home</a></td></tr>
    </table>
  </footer>
</body>
</html>
