
<div id="directions"><p>We are located downtown on the corner of Lincoln and Broadway. If you're coming in from Fort Wayne on 930 stay to the left when it forks. Coming from Georgetown stay on Landin until it turns into Broadway. Coming from 24 take a left onto Green at the three way stop, then a right onto Lincoln at the second light. Coming from 30 take a right onto Green and a left onto Lincoln.</p></div>
<div id="map-canvas"></div>
